.logo_tableau {
  background: url('https://cdns.tblsft.com/sites/all/themes/tabwat/logo.png');
  height: 16px;
  width: 16px;
  display: block;
  /* Other styles here */
}


<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Programing</p>
    </div>
    <div class="tech">
      <h2>Technologies</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Technologies</p>
    </div>
    <div class="tech">
      <h2>Visulization</h2>
      <i class="logo_tableau"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Visulization</p>
    </div>
</div>
